body {
    background-color: rgb(249, 249, 231);
}

.brown-text {
    color:  rgb(99, 80, 56);
}

.test {
    background-color: magenta;
}

.bg-text-and-stuff {
    background-color: rgb(241, 241, 241);
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.1em;
    padding-right: 0.1em;
}
@media only screen and (min-width: 768px){
    /*Decrease left, right margins on small screens*/
    .bg-text-and-stuff {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}
.bg-text-and-stuff .card {
    border-radius: 1em;
    background-color: rgb(252, 252, 252);
    box-shadow: 0 0 0.2em rgb(78, 190, 208);
    border: 1px solid rgb(78, 190, 208);
    overflow: hidden;
}

.card .header-title {
    padding-top: 0.6em;
    padding-bottom: 0.3em;
    overflow: hidden;
    border-radius: 1em 1em 0 0;
    background-color: rgb(251, 251, 251);
}


.card-set .card {
    margin-top: 1em;
}
.card-set .row-eq-height .card {
    height: 90%;
}
.card.card-secondary {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;

    background-color: rgb(245, 245, 245);
}
.card-set .row.force-col-equal-height .col {
    height: 100%;
}
.google-map-embed {
    width: 100%;
    height: 100%;
    border-radius: 1em;
    overflow: hidden;
    border: 2px solid rgb(78, 190, 208);
}

.general-inner-row {
    padding-top: 0em;
    padding-bottom: 0;
}
.general-inner-col {
    padding-top: 0.25em;
    margin-top: 0.1rem;
    margin-bottom: 0.9rem;
    margin-left: 0.9rem;

    font-size: 0.9em;
}

.general-list-title {
    text-decoration: underline;
}
.general-list-title::after {
    content: ":";
}
.card-pic-pair .card.card-pic-pair-pic {
    display: none;
}
.card-pic-pair .card-pic-pair-alternate-pic{
    display: initial;
    height: 550px;
    overflow: hidden;
}
.card-pic-pair .card-pic-pair-alternate-pic img{
    margin-top: -50px;
}
@media only screen and (min-width: 992px) {
    .card-pic-pair .card-pic-pair-alternate-pic{
        display: none;
    }
    .card-pic-pair .col-7 {
        padding-right: 0;
    }
    .card-pic-pair .col-lg-7 {
        padding-right: 0;
    }
    .card-pic-pair .col {
        padding-left: 0;
        margin-right: 1em;
    }
    .card-pic-pair .card {
        /*selective corner rounding: top-left, top-right, bottom-right, bottom-left*/
        border-radius: 1em 0 0 1em;
        margin-left: 1em;
        margin-right: -0.1em;
        border-style: solid none solid solid;
    }
    .card-pic-pair .card.card-pic-pair-pic {
        /*IMPORTANT! re-shows element*/
        display: block;

        border-radius: 0 1em 1em 0;
        margin-left: 0;
        padding-left: 0;
        margin-right: 1em;
        padding-right: 0;
        /*
        height: 50%;
        width: 100%;
        */
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-style: solid solid solid none;
        box-shadow: 0.15em 0 0.2em 0 rgb(78, 190, 208);
    }
}
/*Specific classes's for specific pictures*/
.card-pic-pair .card.card-pic-pair-pic.picture2 {
    background-image: url("../images/ann.jpg");

    background-repeat: no-repeat;

    background-position: top center;

    background-repeat: no-repeat;
    background-size: cover;
}
.card-pic-pair .card.card-pic-pair-pic.joanie {
    background-image: url("../images/joanie.jpg");

    background-repeat: no-repeat;

    background-position: top center;

    background-repeat: no-repeat;
    background-size: cover;
}

.shadow-effect {
    box-shadow: 0 0 1rem #000;
}

.shadow-effect-small {
    box-shadow: 0 0 4em #000;
}

.no-highlight-link, .no-highlight-link a {
    color: inherit;
}
.no-highlight-link:hover, .no-highlight-link a:hover {
    text-decoration: none;
    color: inherit;
}

.link-white-on-hover a:hover {
    color: white;
}

.button-card.card {
    height: 100%;
    background-color: rgb(177, 224, 232);
    border: 2px solid rgb(78, 190, 208);
    box-shadow: 0 0 0.5em #000;
    padding-bottom: 1em;
}
.button-card.card:hover {
    background-color: rgb(204, 235, 240);
}

.button-card.card:active {
    background-color: rgb(113, 199, 213);
    box-shadow: 0 0 0.15em #000;
}

.navbar-logo {
    background-color: inherit;
}

.padding-top {
    padding-top: 1em;
}

.patient-forms {
    margin: 5px 5px 15px;
}

.main-group {
    margin: 14px 8px;
}

#HomePageCards {
    background-color: white;
    padding: 7px 16px;
}
#HomePageCards .row-12{
    margin: 10px 0;
}

#Header {
    background-color: rgb(177, 224, 232);
    /*background-color: rgb(251, 251, 251);*/
}

/*Main navbar color change when collapsed*/
#mainNavbarCollapse {
    background-color: rgb(193, 231, 237);
    padding-right: 0em;
}
@media only screen and (min-width: 992px) {
    #mainNavbarCollapse {
        background-color: inherit;
    }
}
/*Main navbar general settings*/
#mainNavbarCollapse a{
    color: rgb(99, 80, 56);
    font-weight: bold;
    font-size: 1.25rem;
    text-transform: uppercase
}
#mainNavbarCollapse a:hover{
    background-color: rgb(213, 239, 243);
}
#mainNavbarCollapse a:active{
    background-color: rgb(148, 213, 224);
}
#mainNavbarCollapse .dropdown-menu {
    background-color: rgb(133, 207, 219);
}
#mainNavbarCollapse .dropdown-menu a:hover {
    background-color: rgb(204, 235, 240);
}
#mainNavbarCollapse .dropdown-menu a:active {
    background-color: rgb(110, 197, 212);
}
/*main navbar active settings*/
#mainNavbarCollapse a.active {
    background-color: rgb(148, 213, 224);
}
#mainNavbarCollapse .dropdown-menu a.active {
    background-color: rgb(110, 197, 212);
}


#HomePagePicture {
    background-color: white;
}
#HomePagePicture .home-page-picture-text h1{
    font-size: 2.0em;
}
@media only screen and (min-width: 768px){
    #HomePagePicture .home-page-picture-text h1{
        font-size: 2.6em;
    }
}

#Footer {
    background-color: rgb(40, 122, 136);

    color: rgb(227, 245, 249);

    padding-top: 2em;
    padding-bottom: 0em;
    padding-left: 1em;
    padding-right: 1em;

    font-size: 1.2em;
    font-weight: 600;
}
#Footer .footer-inner-row {
    padding-top: 0;
    padding-bottom: 0;
}
#Footer .footer-inner-col {
    padding-top: 0.25em;
    margin-top: -0.8rem;
    margin-bottom: 0.8rem;
    margin-left: 0.9rem;

    font-size: 0.9em;
}
/*Footer titles*/
#Footer .footer-title {
    text-decoration: underline;
}
#Footer .footer-title::after {
    content: ":";
}
/*Footer triangle list*/
#Footer .triangle-list a.triangle-list-item::before {
    content: ">";
}
#Footer a:hover {
    color: white;
}
#Footer a:active {
    color: rgb(169, 224, 237);
}
#Footer a.active {
    color: rgb(148, 216, 232);
}
/*Footer Responsiveness*/
#Footer .footer-show-on-sm-lg {
    display: none;
}
@media (min-width: 576px) and (max-width: 992px) {
    #Footer .footer-hide-on-sm-lg {
        display: none;
    }
    #Footer .footer-show-on-sm-lg {
        display: initial;
    }
}

@media (max-width: 576px){
    #OverallContainer{
        max-width: 100%;
        overflow-x: hidden;
        max-height: 100%;
        overflow-y: hidden;
        margin: auto;
    }
}